<section class="phx-hero">
  <h1><%= gettext("Welcome to %{name}!", name: "ExBisca") %></h1>
  <p>The Bisca card game made with Elixir.</p>

  <%= if @current_user do %>
    <p><%= @current_user.name %></p>
  <% else %>
    <%= render(ExBiscaWeb.SessionView, "form.html", assigns) %>
  <% end %>
</section>
